.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: var(--br);
    background-color: var(--bc);
    gap: 10px;
    width: clamp(250px, 90vw, 400px);
}

.imageContainer {
    display: flex;
    position: relative;
}

.imageBox {
    width: calc(clamp(250px, 90vw, 400px) - 40px);
}

.img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-bottom: 10px;
}
.arrowButton {
    background: none;
    border: none;
    width: 35px;
    aspect-ratio: 1;
    display: inline;
    padding: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.left {
    left: -35px;
}

.right {
    right: -35px;
}

.editButton {
    z-index: 0;
    position: absolute;
    top: 60px;
    right: 10px;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}
