.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: var(--bc);
    border-radius: var(--br);
}

.form h4 {
    text-align: center;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}
